/* ---------- Base elements ---------- */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

button,
input {
  padding: calc(var(--gutter) / 2) var(--gutter);
  border-radius: var(--input-bdrs);
  border: 1px solid #c5c5c5;
}

.btn {
  cursor: pointer;
  border-radius: var(--btn-bdrs);
}

.hidden {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
