/* ---------- Search ---------- */

.search {
  padding: 20px 0;
}

.search form {
  display: flex;
  flex-direction: column;
  gap: var(--gutter);
  border-radius: 20px;
  padding: calc(var(--gutter) * 2);
  background: var(--primary-color);
}

.search .btn {
  background: var(--secondary-color);
  color: #fff;
  border-color: var(--secondary-color);
}
