:root {
  --primary-color: rgb(243, 198, 49);
  --secondary-color: rgb(1, 110, 1);
  --header-bg-color: var(--primary-color);
  --gutter: 10px;
  --btn-bdrs: 5px;
  --input-bdrs: 5px;
  --weather-card-bg: var(--secondary-color);
  --weather-card-brds: 10px;
}
