/* ---------- Weather Cards (MOBILE FIRST) ---------- */

.weather-container {
  display: flex;
  flex-direction: column;
  gap: var(--gutter);
  padding: 0 var(--gutter);
  margin-bottom: 2rem;
}

.weather-card {
  width: 100%;
  min-height: 180px;
  border-radius: var(--weather-card-brds);
  background: var(--secondary-color);
  padding: var(--gutter);
  border: 3px solid var(--primary-color);
  color: #fff;
  font-size: 1.1rem;
}
